@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: #61dafb;
    font-size: 24px;
}

.table-container {
    background-color: #20232a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
}

.button-link {
    text-decoration: none;
    width: 100%;
}

.game-button {
    background-color: #61dafb;
    border: none;
    width: 100%;
    border-radius: 5px;
    padding: 10px 20px;
    color: #20232a;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.game-button:hover {
    background-color: #21a1f1;
}